.form {
  margin-bottom: 1rem;
  display:contents;
  justify-content: space-between;
  gap: 15px;
}
input:not([type="checkbox"]) {
  outline: 0;
  border: 0;
  border-radius: 6px;
  padding: 17px 0.7rem;
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  background-color: #484b6a;
}
.form input[type="text"] {
  width: 75%;
}
.form input[type="submit"] {
  flex: 2;
  font-weight:bold;
  cursor: pointer;
  font-size: 1.8rem;
  
}

